@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.rocky{
    height: 100vh;
    width: 100%;
    background: #000;
    background-size: cover;
}

img {
    position: absolute;
    width:433px;
    height: 520px;
    left: 20%;
    bottom: 20%;
    /* margin-left: 60;  */
}

.content{
    height: 18vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content h2{
    font-size: 25px;
    letter-spacing: 3px;
}

.content h2:hover{
    color: olivedrab;
}

.content ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 30px;
    font-weight: bold;
}

.content ul li a{
   font-size: 15px;
   text-decoration: none;
   letter-spacing: 5px;
   transition: .3s;
}

.content ul li a:hover{
    color: olivedrab;
}

.main{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 100px;
    letter-spacing: 20px;
    font-weight: bold;
}

h1:hover{
    color: olivedrab;
}

h3{
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 40px;
    margin-bottom: 7px;

}

h3:hover{
    color: olivedrab;
}

p{
    font-size: 30px;
    letter-spacing: 20px;
}

p:hover{
    color: olivedrab;
}

.icon{
    position: absolute;
    height: 35%;
    width: 80px;
    text-align: center;
    padding-top: 10%;
    bottom: 50%;
}

.icon i{
    display: inline-block;
    margin: 15px 23px;
    font-size: 20px;
}
